/* .alice-carousel ul li img {
    height: 525px;
    width: 44%;
    object-fit: cover;
    margin-left: 352px;
    margin-top: 30px;
} */

.slider {
    font-family: sans-serif;
    text-align: center;
  }
  